@font-face {
    font-family: group_island_font;
    src: url("../css_fonts/Showcard_Gothic.ttf");
}

area {
	cursor: pointer;
}


.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

body {
	padding: 0px;
	margin: 0px;
}

#container {
	width: 1083px;
	margin: 0px auto;
	height: 100%;
}

.button {
	cursor: pointer;
}

/* below are the designs for the home content */

#container #home_content_background {
	position: relative;
	top: 0px;
	left: 0px;
	width: 1083px;
	height: 100%;
	z-index: 0;
}

#container #home_content {
	
}

#container #home_content #start_discussion {
	position: relative;
	top: -900px;
	left: 65px;
} 

#container #home_content #credits {
	position: relative;
	top: -800px;
	left: -240px;
} 

#container #home_content #exit {
	position: relative;
	top: -720px;
	left: -468px;
	
} 

#container #home_content #philippine_map {
	position: relative;
	z-index: 2;
	top: -530px;
	left: -345px;
}

#container #home_content #globeball {
	position: relative;
	z-index: 2;
	top: -780px;
	left: 800px;
}


#container #home_content #letter_t {
	position: relative;
	z-index: 3;
	top: -1264px;
	left: -80px;
}

#container #home_content #letter_h {
	position: relative;
	z-index: 3;
	top: -1268px;
	left: -85px;
}

#container #home_content #letter_e {
	position: relative;
	z-index: 3;
	top: -1277px;
	left: -85px;
}

#container #home_content #letter_ph {
	position: relative;
	z-index: 3;
	top: -1277px;
	left: 0px;
}

/* below are for the discussion content ----------------------------------------------------------------- */

#container #discussion_content {
	display: none;
}

#container #discussion_content #first_rope {
	position: relative;
	z-index: 2;
	top: -688px;
	left: 85px;
}

#container #discussion_content #luzon {
	position: relative;
	z-index: 3;
	top: -630px;
	left: -70px;
}

#container #discussion_content #second_rope {
	position: relative;
	z-index: 2;
	top: -571px;
	left: -234px;
}

#container #discussion_content #visayas {
	position: relative;
	z-index: 3;
	top: -513px;
	left: -390px;
}

#container #discussion_content #third_rope {
	position: relative;
	z-index: 2;
	top: -458px;
	left: -558px;
}

#container #discussion_content #mindanao {
	position: relative;
	z-index: 3;
	top: -403px;
	left: -710px;
}

#container #discussion_content #fourth_rope {
	position: relative;
	z-index: 2;
	top: -353px;
	left: -882px;
}

#container #discussion_content #home_back {
	position: relative;
	z-index: 3;
	top: -1000px;
	left: 65px;
}

#container #discussion_content #discuss_background {
	position: relative;
	z-index: 4;
	top: -763px;
	left: 164px;
}

#container #discussion_content #luzon_separate {
	position: relative;
	z-index: 5;
	top: -1417px;
	left: 520px;
}

#container #discussion_content #visayas_separate {
	position: relative;
	z-index: 5;
	top: -1460px;
	left: 420px;
}

#container #discussion_content #mindanao_separate {
	position: relative;
	z-index: 5;
	top: -1307px;
	left: 173px;
}

#container #discussion_content .text_wrap {
	z-index: 7;
	color: #548700;
	font-size: 30px;
	font-family: group_island_font;
	text-align: center;

}

#container #discussion_content #luzon_text_wrap {
	width: 300px;
	position: relative;
	top: -1890px;
	left: 370px;
	display: none;
}

#container #discussion_content #visayas_text_wrap {
	width: 300px;
	position: relative;
	top: -1787px;
	left: 770px;
	display: none;
}

#container #discussion_content #mindanao_text_wrap {
	width: 300px;
	position: relative;
	top: -1470px;
	left: 400px;
	display: none;
}

/* below visayas featured popup */

#container #discussion_content #visayas_feature_one {
	position: relative;
	top: -1775px;
	left: 820px;
	z-index: 7;
}

#container #discussion_content #visayas_feature_two {
	position: relative;
	top: -1720px;
	left: 580px;
	z-index: 7;
}

#container #discussion_content .visayas_feature {
	display: none;
}

/* below mindanao featured popup */

#container #discussion_content #mindanao_feature_one {
	position: relative;
	top: -1640px;
	left: 860px;
	z-index: 7;
}

#container #discussion_content #mindanao_feature_two {
	position: relative;
	top: -1560px;
	left: 790px;
	z-index: 7;
}

#container #discussion_content #mindanao_feature_three {
	position: relative;
	top: -1620px;
	left: 670px;
	z-index: 7;
}

#container #discussion_content .mindanao_feature {
	display: none;
}

/* end discussion content */



/* below are for the group discussions content ---------------------------------------------------------------------*/

#container #group_discussion_content {
	width: 1081px;
	height: 668px;
	position: relative;
	top: -675px;
	left: 0px;
	z-index: 8;
	display: none;
}

#container #group_discussion_content #left_content {
	width: 305px;
	height: 668px;
}

#container #group_discussion_content #left_content #left_rope {
	margin-left: 84px;
}

#container #group_discussion_content #left_content #big_back {
	margin-left: 35px;
	margin-top: -28px;
}

#container #group_discussion_content #right_content {
	width: 768px;
	height: 668px;
}

#container #group_discussion_content #right_content #right_background {
	position: absolute;
	/*margin-right: -2px;
	margin-top: -2px;*/
	top: -2px;
	right: -2px;
	z-index: 1;
}

/* below are for the island description */

#container #group_discussion_content #right_content #jeepney {
	position: absolute;
	top: 50px;
	left: 210px;
	z-index: 8;
	display: none;
}

#container #group_discussion_content #right_content #island_description {
	position: absolute;
	top: -20px;
	left: 344px;
	z-index: 7;
	text-align: center;
	padding: 20px;
}

#container #group_discussion_content #right_content #island_description #island_title {
	font-family: group_island_font;
	color: #548700;
	font-size: 50px; 
	display: none;
}

#container #group_discussion_content #right_content #island_description .island_title {
	font-family: group_island_font;
	color: #548700;
	font-size: 50px;
}

/* below are for the highlights */

#container #group_discussion_content #right_content #highlight_div {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 5;
}


#container #group_discussion_content #right_content #island_content .for_highlight {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 20;
	display: none;
}


/* below are for the islands */

#container #group_discussion_content #right_content #island_content {
	width: 706px;
	height: 613px;
	position: relative;
	top: 27px;
	left: 31px;
	z-index: 2;
}

#container #group_discussion_content #right_content #island_content #luzon_group {
	position: relative;
	left: 182px;
	z-index: 1;
	display: none;
}

/*#container #group_discussion_content #right_content #island_content #visayas_group {
	position: relative;
	top: -42px;
	left: 82px;
	z-index: 2;
	display: none;
}*/

#container #group_discussion_content #right_content #island_content #visayas_group {
	position: relative;
	top: 325px;
	left: 385px;
	z-index: 2;
	display: none;
}

/*#container #group_discussion_content #right_content #island_content #mindanao_group {
	position: relative;
	top: -124px;
	left: 301px;
	z-index: 3;
	display: none;
}*/  

#container #group_discussion_content #right_content #island_content #mindanao_group {
	position: relative;
	top: 393px;
	left: 301px;
	z-index: 3;
	display: none;
}

/* end group discussion content */



/* below are for the main island discussion ------------------------------------------------------------------------ */


#container #island_discussion_content {
	width: 1081px;
	height: 668px;
	position: relative;
	top: -675px;
	left: 0px;
	z-index: 8;
	/*display: none;*/
}

#container #island_discussion_content #island_left_content {
	width: 305px;
	height: 668px;
}

#container #island_discussion_content #island_left_content #island_left_rope {
	margin-left: 84px;
}

#container #island_discussion_content #island_left_content #island_big_back {
	margin-left: 35px;
	margin-top: -28px;
}

#container #island_discussion_content #island_left_content #map_highlight_wrapper {
	position: absolute;
	top: 130px;
	left: 15px;
	z-index: 2;
	height: 391px;
	width: 272px;
}

#container #island_discussion_content #island_left_content #map_highlight_wrapper #map_highlight {
	position: absolute;
	top: 29px;
	left: 20px;
	z-index: 3;
	width: 230px;
	height: 333px;
}

#container #island_discussion_content #island_left_content #map_highlight_wrapper #map_highlight_board {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	width: 270px;
	height: 389px;
}

#container #island_discussion_content #island_left_content #quiz_button_wrapper {
	position: absolute;
	top: 520px;
	left: 18px;
	z-index: 3;
	width: 280px;
	height: 140px;
	
}

#container #island_discussion_content #island_left_content #quiz_button_wrapper #sign_board {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
}

#container #island_discussion_content #island_left_content #quiz_button_wrapper #go_exam {
	position: absolute;
	top: 85px;
	left: 35px;
	z-index: 3;
}

#container #island_discussion_content #island_left_content #quiz_button_wrapper #tractor {
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 1;
}


#container #island_discussion_content #island_right_content {
	width: 768px;
	height: 668px;
}

#container #island_discussion_content #island_right_content #island_right_background {
	position: absolute;
	top: -2px;
	right: -2px;
	z-index: 1;
}

#container #island_discussion_content #island_right_content #left_sidebar {
	position: absolute;
	top: 27px;
	left: 343px;
	z-index: 2;
	width: 210px;
	height: 614px;
}

#container #island_discussion_content #island_right_content #left_sidebar #video {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

#container #island_discussion_content #island_right_content #left_sidebar #images_wrapper {
	width: 193px;
	height: 435px;
	position: absolute;
	top: 180px;
	left: 0px;
	border-right: 8px solid #8B5C01;
	border-left: 8px solid #8B5C01;
	z-index: 5;
}

#container #island_discussion_content #island_right_content #wrapper  {
	width: 211px;
	height: 435px;
	position: absolute;
	top: 206px;
	left: 342px;
	z-index: 3;
}

#container #island_discussion_content #island_right_content #wrapper .image_wrap {
	width: 95px;
	height: 77px;
	display: inline-block;
	position: relative;
	margin-bottom: 6px;
	cursor: pointer;
}

#container #island_discussion_content #island_right_content #wrapper .image_wrap:nth-child(even) {
	margin-left: 15px;
}

#container #island_discussion_content #island_right_content #wrapper .image_wrap:nth-child(odd) {
	margin-left: 1px;
}

#container #island_discussion_content #island_right_content #wrapper .image_wrap .frame {
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
} 

#container #island_discussion_content #island_right_content #wrapper .image_wrap .island_image {
	position: absolute;
	z-index: 1;
	top: 9px;
	left: 9px;
	width: 78px;
	height: 60px;
} 

#container #island_discussion_content #island_right_content #slideshow_wrapper {
	position: absolute;
	top: 28px;
	left: 564px;
	width: 475px;
	height: 200px;
	z-index: 3;
}

#container #island_discussion_content #island_right_content #slideshow_wrapper #bamboo_border {
	position: absolute;
	top: 16px;
	left: 102px;
	z-index: 2;
}

#container #island_discussion_content #island_right_content #slideshow_wrapper #next {
	position: absolute;
	top: 87px;
	left: 400px;
	cursor: pointer;
	z-index: 1;
}

#container #island_discussion_content #island_right_content #slideshow_wrapper #previous {
	position: absolute;
	top: 87px;
	left: 47px;
	cursor: pointer;
	z-index: 1;
}


#container #island_discussion_content #island_right_content #slideshow_wrapper #slide_images_wrapper {
	position: absolute;
	top: 27px;
	left: 112px;
	width: 253px;
	height: 145px;
	z-index: 1;
}

#container #island_discussion_content #island_right_content #slideshow_wrapper #slide_images_wrapper .slideshow_image {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#container #island_discussion_content #island_right_content #slideshow_wrapper #slide_images_wrapper .current {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
}













































































































































	






























